@tailwind base;
@tailwind components;
@tailwind utilities;

/* Html, Body, Heading */
@layer base {
  body {
    @apply bg-[#141414] text-white min-h-screen;
  }
}

/* Custom className */
@layer components {
  .headerLink {
    @apply text-[#e5e5e5] font-light text-sm cursor-pointer transition duration-[0.5s] hover:text-[#b3b3b3];
  }
}

/* :root {
  --color-sky: 14 165 233;
  --color-purple: 71 43 194;
  --color-salmon: 71 43 194;
  --color-emerald: 23 233 229;
  --color-orange: 240 115 22;

  --brand-color: var(--color-purple);

  --bgcolor: rgb(23, 233, 229);
  --bg-color: hsl(252, 100%, 98%);
  --bg-color-t: hsl(255, 100%, 98%);
  --bg-button: rgb(73, 46, 196);
  --text-primary-color: #472bc2;
  --text-tertiary-color: #ebe81c;
} */
