:root {
  --color-gray: 39 39 48;
  --color-sky: 14 165 233;
  --color-purple: 168 85 247;
  --color-pink: 237 72 153;
  --color-emerald: 20 184 166;
  --color-orange: 249 115 22;
}

--brand-color: var(--color-sky);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Html, Body, Heading */
@layer base {
  body {
    @apply bg-primary text-white;
  }

  header {
    @apply fixed top-0 z-50 flex w-[100%] items-center justify-between transition-all px-4 py-4 lg:px-10 lg:py-6;
  }
}

/* Custom className */
@layer components {
  .header-link {
    @apply text-[#e5e5e5] font-light text-base cursor-pointer transition duration-[0.4s] hover:text-[#b3b3b3];
  }
  .nav-link {
    @apply  text-gray-200 hover:text-gray-500 focus:text-gray-500 p-0 transition duration-[0.5s];
  }
}

/*
--color-grey1: 81 86 88
--color-grey2: 69 69 72
--color-grey3: 108 113 115

*/

/* :root {
  --color-sky: 14 165 233;
  --color-purple: 71 43 194;
  --color-salmon: 71 43 194;
  --color-emerald: 23 233 229;
  --color-orange: 240 115 22;

  --brand-color: var(--color-purple);

  --bgcolor: rgb(23, 233, 229);
  --bg-color: hsl(252, 100%, 98%);
  --bg-color-t: hsl(255, 100%, 98%);
  --bg-button: rgb(73, 46, 196);
  --text-primary-color: #472bc2;
  --text-tertiary-color: #ebe81c;
} */
